.idea
*.ipynb_checkpoints*
models/VGG16/__pycache__/
models/resnet50/__pycache__/
communication/__pycache__/
models/ViT/__pycache__/
controller/__pycache__/
ubuntu-venv/*
venv-linux
communication/config.ini
models/*/tail/*
models/*/head/*